<html>
    <head>
        <title> FlowSIS Home page </title>
        <link rel="stylesheet" type="text/css" href="/public/css/flowsis_home.css" />
    </head>

    <body>
        <div class="logocontainer">
            <img src="/public/img/flowsis_icon.png"/>
        </div>
        <div class="container">
            <div class="card">
                <h2>Looking for your flowchart?</h2>
                <h1>FlowDirect</h1>
                <ul>
                    <li>Check the college-approved flowchart</li>
                    <li>Confirm the status of your audit</li>
                    <li>Ask for the flowchart in real-time</li>
                </ul>
                <a href="/Flowchart"><button class="flow-direct">FlowDirect</button></a>
            </div>
            <div class="card">
                <h2>Find the commonly taken class</h2>
                <h1>HeatHeart</h1>
                <ul>
                    <li>Heat map to observe saturation</li>
                    <li>Check which courses have overlaps</li>
                    <li>Identify the "heart" of class scheduling</li>
                </ul>
                <a href="/Heat_Index"><button class="heat">Check heat index</button></a>
            </div>
            <div class="card">
                <h2>Countercheck and verify database</h2>
                <h1>Encoder</h1>
                <p>Input the contents of the database following the verified flowchart provided by each college.</p>
                <a href="/Encoder"><button class="encoder">Go to Encoder</button></a> 
            </div>
        </div>
    </body>
</html>