<html>
    <head>
        <title>FlowSIS Encoder</title>
        <link rel="stylesheet" type="text/css" href="/public/css/flowsis_encoder.css" />
    </head>
    <body>
        <script src="/public/js/submitForm.js"></script>
        <div class="mainpage"> 
            <div class="logocontainer">
                <img src="/public/img/flowsis_icon.png"/>
            </div>
            <div class="encoderarea">
                <div class="form-container">
                    <form id="subjectForm">
                        <textarea id="subjectInput" tabindex="-1" name="subjectInput" placeholder="Paste tab-separated values here, one subject per line" rows="10" required></textarea>
                        <button type="submit">Submit</button>
                        <a href="/" class="back-button">Back</a>
                    </form>
                </div>
            </div>
            <div class="dropdown-container">
                <select id="subjectDropdown"></select>
                <button id="deleteButton">Delete</button>
            </div>
        </div>
    </body>
</html>