<html>
    <head>
        <title> FlowSIS Encoder </title>
        <link rel="stylesheet" type="text/css" href="/public/css/flowsis_flowchart.css" />
    </head>

    <body>
        <div class="mainpage"> 
            <div class="logocontainer">
                <img src="/public/img/flowsis_icon.png"/>
            </div>
            <div class="flowarea">
                <div class="form-container">
                     <form>
                        <label for="course-id">Course</label>
                         <select id="course-id" name="course-id">
                            <option value="">Dropdown</option>
                        </select>
                        <button type="submit">Find Flowchart</button>
                        <a href="/" class="back-button">Back</a>
                    </form>
                </div>
                <table>
                    <tr>
                        <th>Year</th>
                        <th>Term 1</th>
                        <th>Term 2</th>
                        <th>Term 3</th>
                    </tr>
                    <tr>
                        <td class="year_cell">Year 1</td>
                        <td>
                            CCPROG1 (3)<br>
                            GEPCOMM (3)<br>
                            NSTP101 (3)<br>
                            GEMATMW (3)<br>
                            MTH101A (5)
                        </td>
                        <td>
                            CCPROG2 (3)<br>
                            CCDSTRU (3)<br>
                            GEFTWEL (2)<br>
                            CCICOMP (3)<br>
                            CSMATH1 (3)<br>
                            GELECSP (3)<br>
                            NSTP-01 (3)<br>
                            LASARE1 (0)
                        </td>
                        <td>
                            CCINFOM (3)<br>
                            CCDSALG (3)<br>
                            CSMATH2 (3)<br>
                            STT101A (3)<br>
                            GEDANCE (2)<br>
                            GESTSOC (3)<br>
                            NSTP-02 (3)<br>
                            SAS1000 (0)
                        </td>
                    </tr>
                    <tr>
                        <td class="year_cell">Year 2</td>
                        <td>
                            CSADPRG (3)<br>
                            CCINFOM (3)<br>
                            CSALGCM (3)<br>
                            CSINTSY (3)<br>
                            GESPORT (2)<br>
                            LCASEAN (3)<br>
                        </td>
                        <td>
                            CCAPDEV (3)<br>
                            CSARCH1 (3)<br>
                            STALGCM (3)<br>
                            ST-MATH (3)<br>
                            GETEAMS (2)<br>
                            GERPHIS (3)<br>
                            LCLSONE (1)<br>
                            LASARE2 (0)
                        </td>
                        <td>
                            CSSWENG (3)<br>
                            STHCIUX (3)<br>
                            CSNETWK (3)<br>
                            CSMODEL (3)<br>
                            GELECAH (3)<br>
                            SAS2000 (0)
                        </td>
                    </tr>
                    <tr>
                        <td class="year_cell">Year 3</td>
                        <td>
                            STSWENG (3)<br>
                            STADVDB (3)<br>
                            CSARCH2 (3)<br>
                            LBYARCH (3)<br>
                            STELEC1 (3)<br>
                            LCENWRD (3)<br>
                            SAS3000 (0)<br>
                            LCLSTWO (1)<br>
                            LASARE3 (0)<br>
                        </td>
                        <td>
                            PRCCSST (3)<br>
                            STMETHD (3)
                        </td>
                        <td>
                            MOBDEVE (3)<br>
                            THS-ST1 (3)<br>
                            CSOPESY (3)<br>
                            STINTSY (3)<br>
                            STELEC2 (3)
                        </td>
                    </tr>
                    <tr>
                        <td class="year_cell">Final Year</td>
                        <td>
                            THS-ST2 (2)<br>
                            STDISCM (3)<br>
                            STELEC3 (3)<br>
                            STELEC4 (3)<br>
                            GEETHIC (3)
                        </td>
                        <td>
                            CSSECDV (3)<br>
                            CCINOV8 (3)<br>
                            GELECST (3)<br>
                            GEWORLD (3)<br>
                            LCLSTRI (1)<br>
                            THS-ST3 (2)
                        </td>
                        <td>
                            GERIZAL (3)<br>
                            GEARTAP (3)<br>
                            GEUSELF (3)<br>
                            LCFAITH (3)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>