<html>
    <head>
        <title> FlowSIS Encoder </title>
        <link rel="stylesheet" type="text/css" href="/public/css/flowsis_encoder.css" />
    </head>

    <body>
        <div class="mainpage"> 
            <div class="logocontainer">
                <img src="/public/img/flowsis_icon.png"/>
            </div>
            <div class="encoderarea">
                <div class="form-container">
                     <form>
                        <label for="id-number">ID Number</label>
                         <select id="id-number" name="id-number">
                            <option value="">Dropdown</option>
                        </select>
                
                        <label for="program-code">Program Code</label>
                        <select id="program-code" name="program-code">
                            <option value="">Dropdown</option>
                        </select>
                
                        <label for="term-year">Term and School Year</label>
                        <select id="term-year" name="term-year">
                            <option value="">Dropdown</option>
                        </select>
                
                        <button type="submit">Find Flow</button>
                    </form>
                </div>
            </div>
        </div>
    </body>