.logocontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logocontainer img
{
    width: 400;
    height: 254;
}
.instructions{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    margin-top: 20px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: none;
    padding-bottom: none;
}
.encoderarea
{
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;
}
.encodermenu
{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5%
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
textarea{
    resize: none;
}

label {
    font-weight: bold;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: #fff;
    background-size: 10px;
    cursor: pointer;
}

button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #333;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.back-button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.back-button:hover {
    background-color: #333;
}
.dropdown-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Space between elements */
}

select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #333;
}